.photographer-header {
    background-color: #FAFAFA;
    height: 300px;
    min-width: 1410px;
    margin: 0 100px 25px 100px;
    /* added styles */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/* ------ START ADDED STYLES ------ */

/* ------ PHOTOGRAPHER HEADER ------*/

.photographer-header div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.photographer-header div > p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.photographer-header div > h1:nth-child(1) {
    color: #D3573C;
    font-size: 70px;
    margin: 7.5px 0;
    font-weight: 100;
}

.photographer-header div > p:nth-child(2) {
    color: #901C1C;
    font-size: 25px;
    margin: 7.5px 0;
}

.photographer-header div > p:nth-child(3) {
    font-size: 17.5px;
    margin: 7.5px 0;
}

.photographer-header img {
    height: 200px;
    width: 200px;
    /* added styles */
    border-radius: 100px;
    object-fit: cover;
}

/* ------ MEDIA SORTING MENU -------*/

.photographer-sort-media {
    min-width: 1410px;
    margin: 0 100px 25px 100px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

.photographer-sort-media * {
    font-size: 20px;
    font-weight: bold;
}

.photographer-sort-media label {
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.select-sort-media-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
}

.select-sort-media-wrapper select {
    appearance: none;
    padding: 11px;
    border: none;
}

.select-sort-media-wrapper i {
    position: absolute;
    margin-left: 140px;
}

.select-sort-media-wrapper, .select-sort-media-wrapper select {
    width: 170px;
    height: 70px;
    border-radius: 5px;
    background-color: #901C1C;
    color: white;
    cursor: pointer;
}

/* ------ MEDIA LIST DISPLAY -------*/

.photographer-media-list {
    min-width: 1410px;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.photographer-media {
    width: 450px;
    margin-right: calc((100% - 3 * 450px) / 2);
}

.photographer-media:nth-of-type(3n) {
    margin-right: 0;
}

.photographer-media a {
    border-radius: 10px;
    cursor: pointer;
}

.photographer-media img, .photographer-media video {
    width: 450px;
    height: 450px;
    border-radius: 10px;
    object-fit: cover;
}

.photographer-media div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0 17.5px 0;
    height: 45px;
}
.photographer-media p:first-of-type {
    width: 375px;
}

.photographer-media p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    color: #901C1C;
    font-size: 25px;
}

.photographer-media i {
    color: #901C1C;
    font-size: 25px;
}

/* ------ PHOTOGRAPHER LIKES -------*/

.photographer-likes {
    width: 300px;
    padding: 20px;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #D3573C;
    border-radius: 5px 5px 0 0;
    color: black;
    font-size: 20px;
}

/* -------- MEDIA LIGHTBOX ---------*/

.media-lightbox-container {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.media-lightbox {
    width: 80%;
    height: 80%;
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.media-lightbox img {
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.media-lightbox img.media {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.media-lightbox div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 7.5%;
    justify-content: center;
}

.media-lightbox span {
    color: #901C1C;
    font-size: 25px;
}

.media-lightbox div:nth-child(2) {
    width: 85%;
    background-color: white;
}

.media-lightbox div:nth-child(3) {
    justify-content: space-between;
    align-items: flex-end;
}

/* ------- END ADDED STYLES ------- */

#contact_modal {
    /* added styles */
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0%;
    background-color: rgba(250, 250, 250, 0.9);  /* 50% transparent */
}

.modal {
    /* added styles */
    width: calc(50% - 70px);
    padding: 35px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50px;
    left: 25%;
    background-color: #DB8876;
    border-radius: 5px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

/* added styles */
form input, form textarea {
    width: 100%;
    height: 68px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

form textarea {
    height: 204px;
    resize: none;
}